<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>

    <div id="app">
        <input type="text" v-model="firstName" /><br>
        <input type="text" v-model="lastName" /><br>
        <span>{{fullName}}</span>
        <span>{{fullName}}</span>
    </div>

    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                firstName: 'albert',
                lastName: 'zhao'
            },
            // 计算属性进行了缓存设计，只有当依赖的属性发生变化时，才会重新计算
            computed: {
                fullName() {
                    console.log('get')
                    return this.firstName + '-' + this.lastName
                }
                // fullName: {
                //     // get 什么时候调用？
                //     // 1. 初次读取时
                //     // 2. 依赖的属性发生变化时
                //     get() {
                //         console.log('get')
                //             // 此处 this 是 Vue 实例
                //         return this.firstName + '-' + this.lastName
                //     },
                //     // set 什么时候调用？
                //     // 当 fullName 被赋值时
                //     set(value) {
                //         let arr = value.split('-')
                //         this.firstName = arr[0]
                //         this.lastName = arr[1]
                //     }
                // }
            }
        })
    </script>
</body>

</html>