<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <h2>学校名称：{{name}}</h2>
        <h2>学校地址：{{address}}</h2>
        <hr/>
        <button @click="addSex">追加一个性别</button>
        <h2>学生姓名：{{student.name}}</h2>
        <h2>学生年龄：真实{{student.age.rAge}}对外{{student.age.sAge}}</h2>
        <h2 v-if="student.sex">学生性别：{{student.sex}}</h2>
        <ul>
            <li v-for="(f,index) in student.friends" :key="f.id">
                朋友-姓名：{{f.name}} 年龄：{{f.age}}
            </li>
        </ul>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                name: 'albertzhao',
                address: 'beijing',
                student: {
                    name: 'alan',
                    age: {
                        rAge: 40,
                        sAge: 29
                    },
                    friends: [{
                        id: 1,
                        name: 'jerry',
                        age: 35
                    }, {
                        id: 1,
                        name: 'tony',
                        age: 19
                    }]
                }
            },
            methods: {
                addSex() {
                    // 给学生追加一个性别,追加这个必须是 '' 包裹
                    // Vue.set(this.student, 'sex', '男')
                    this.$set(this.student, 'sex', '男')
                }
            }
        });
    </script>
</body>

</html>