<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
    <style>
        .basic {
            width: 200px;
            height: 200px;
            border: 1px solid #ccc;
        }
        
        .red {
            color: red;
        }
        
        .blue {
            color: blue;
        }
        
        .green {
            color: green;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" placeholder="请输入姓名" v-model="name">
        <ul>
            <!-- 在 vue 和 react 中只要是列表渲染，就必须要有 key -->
            <li v-for="(p,index) in filterPersons" :key="index">
                姓名{{p.name}}-年龄{{p.age}}
            </li>
        </ul>
        <br>
        <ul>
            <li v-for="(p,index) in filterPersonsComputed" :key="p.id">
                姓名{{p.name}}-年龄{{p.age}}
            </li>
        </ul>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                name: '',
                persons: [{
                    id: 1,
                    name: '马冬梅',
                    age: 18
                }, {
                    id: 2,
                    name: '周继伦',
                    age: 18
                }, {
                    id: 3,
                    name: '周冬雨',
                    age: 18
                }, {
                    id: 4,
                    name: '温兆伦',
                    age: 18
                }],
                filterPersons: []
            },
            methods: {
                // 搜索名字
                searchName() {
                    console.log(this.name);
                }
            },
            watch: {
                // 我要加上 immediate: true，这样就可以在页面加载的时候就执行一次
                name: {
                    // 在空串的时候，我要把所有的数据都显示出来
                    immediate: true,
                    handler(newValue, oldValue) {
                        // 判断新旧值是否发生变化，如果变化则从数组中筛选出符合条件的数据
                        if (newValue !== oldValue) {
                            this.filterPersons = this.persons.filter(item => {
                                return item.name.includes(newValue)
                            })
                        }
                        console.log("输入信息变化", newValue, oldValue);
                    }

                }
            },
            computed: {
                filterPersonsComputed() {
                    return this.persons.filter(item => {
                        return item.name.includes(this.name)
                    })
                }
            }
        })
    </script>
</body>

</html>